<footer class="page-footer midnight_bloom z-density-1" style = "opacity:0.7;">
   <div class="container">
     <div class="row">
       <div class="col s14">
         <h5 class="white-text">ConTra</h5>
         <!-- <p class="grey-text text-lighten-4"></p> -->
       </div>
       <div class="col l3 offset-l3">
         <h5 class="white-text">Reach us at</h5>
         <div class = "row">
           <div class = "col s4"><a class="grey-text text-lighten-3" href="https://www.instagram.com/abckings007/">Instagram</a></div>
           <div class = "col s4"><a class="grey-text text-lighten-3" href="https://www.facebook.com/abckings007/">Facebook</a></div>
           <div class = "col s4"><a class="grey-text text-lighten-3" href="mailto:shivamanickam2010@gmail.com">Mail</a></div>
         </div>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2020 ConTra
     <a class="grey-text text-lighten-4 right" href="#!"></a>
     </div>
   </div>
</footer>
