<nav class="nav-extended midnight_bloom z-density-1">
  <div class = "row center">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">Live Events!</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				{% if user.is_authenticated %}
						 <li><a href="/account">{{user.username|title}}</a></li>
						 <li><a href="/logout">Logout</a></li>
				{% else %}
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
				{% endif %}
			</ul>
		</div>
		
		<div class="nav-content valign-wrapper col s9" style = "text-align:center;padding:10px;">
			<div class="col s8 white" style = "border-radius:15px;height: 50px;">
				<div class = "row">
					<form method = "get">
						<div class = "col s1"><i class="black-text material-icons prefix">search</i></div>
						<div class = "col s11"><input type="text" id="id_q" name = "q"class="form-control" placeholder = "search"></div>
					</form>
				</div>
			</div>	
		</div>
  </div>
</nav>


